/Prototype_Taptap/Saved/Config/CrashReportClient/UE4CC-Windows-566CE3934575C65B19EDCABF1782BAC9/
/Prototype_Taptap/Saved/Backup/
/Prototype_Taptap/Saved/ShaderDebugInfo/VM/NiagaraPrecompileContainer_0/
